html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid purple;
}

tr, td {
	padding: 20px;
	font-family: sans-serif;
}

th, h2 {
	  font-family: "Rock Salt", cursive;
}

h1 {
	background-color: black;
	color: white;
}

.extra {
	background-color: green;
	margin: 10px;
	padding: 10px;
	display: inline-block;
}

tr:hover {background-color: purple;}
